body {
  background-color: rgb(247, 217, 217);
}
.container {
  position: fixed;
  top: 0;
  padding: 30px;
  font-size: 15px;
  background-color: rgb(253, 188, 194);
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.navbar {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.navbar a {
  font-size: 30px;
  text-decoration: none;
}
.navbar a:hover {
  color: rgb(29, 221, 93);
}

.for {
  font-size: 30px;
  margin-top: 150px;
  text-align: center;
}
.doo {
  font-size: 30px;
  margin-top: -30px;
  text-align: center;
}
.picture {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 8rem;
  margin-top: 3rem;
}
.yy img {
  width: 200px;
}
.qq img {
  width: 150px;
}
.zz img {
  width: 200px;
}

.for1 {
  font-size: 30px;
  margin-top: 90px;
  text-align: center;
}
.do {
  font-size: 30px;
  margin-top: -30px;
  text-align: center;
}
.ro {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
.picture1 {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 2rem;
  margin-top: 50px;
}
.bb img {
  width: 400px;
  height: 400px;
}
.cc img {
  width: 400px;
  height: 400px;
}
.aa img {
  width: 400px;
  height: 400px;
}
.link {
  padding: 10px;
  background-color: azure;
  width: 100px;
  text-align: center;
  border-radius: 20px;
  margin-left: 27rem;
  margin-top: 15px;
}
.link a {
  text-decoration: none;
  font-size: 20px;
}
.link1 {
  padding: 10px;
  background-color: azure;
  width: 100px;
  text-align: center;
  border-radius: 20px;
  margin-left: 54rem;
  margin-top: -70px;
}
.link1 a {
  text-decoration: none;
  font-size: 20px;
}
.link2 {
  padding: 10px;
  background-color: azure;
  width: 100px;
  text-align: center;
  border-radius: 20px;
  margin-left: 80rem;
  margin-top: -68px;
}
.link2 a {
  text-decoration: none;
  font-size: 20px;
}
.ro1 {
  margin-top: 5rem;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.picture2 {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 2rem;
  margin-top: 50px;
}
.hh img {
  width: 400px;
  height: 450px;
}
.jj img {
  width: 400px;
  height: 450px;
}
.button {
  margin-left: 83rem;
  margin-top: 40px;
  padding: 20px;
  width: 50px;
  background-color: rgb(81, 95, 255);
  text-align: center;
  border-radius: 30px;
}
.button a {
  text-decoration: none;
  font-size: 15px;
  color: white;
}
.button1 {
  margin-left: 90rem;
  margin-top: -60px;
  padding: 20px;
  width: 50px;
  background-color: rgb(81, 95, 255);
  text-align: center;
  border-radius: 30px;
}
.button1 a {
  text-decoration: none;
  font-size: 15px;
  color: white;
}
