body {
  background-color: rgb(247, 217, 217);
}
.container {
  position: fixed;
  top: 0;
  padding: 30px;
  font-size: 15px;
  background-color: rgb(253, 188, 194);
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.navbar{
    flex: 1;
}
.navbar a {
  font-size: 30px;
  text-decoration: none;
  margin-left: 50px;
}
.box1{
  width: 1000px;
  height: 1000px;
  display: flex;
  background-color: aliceblue;
  margin: auto;
  margin-top: 60px;


}
.van-img {
  border-radius: 50%;
}
.van-img img {
  display: block;
  /* margin-right: 50%; */
  margin-left: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  
}
.h1 {
  font-size: 20px;
  text-align: center;
  margin-left: 50%;

}
.h3 {
  font-size: 20px;
  text-align: center;
  margin-top: -20px;
  margin-left: 50%;
}
